# 豆包 TTS
DOUBAO_TTS_API_KEY=
DOUBAO_TTS_API_URL=https://openspeech.bytedance.com/api/v1/tts
DOUBAO_TTS_CLUSTER=volcano_icl
DOUBAO_TTS_UID=豆包语音
DOUBAO_TTS_VOICE=S_O0JFH2mX1
DOUBAO_TTS_ENCODING=mp3
DOUBAO_TTS_SPEED=1.0
